@model Indicadores.Models.SistemaPostgreSql.Tb_Htmls

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tb_Htmls</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idhtml }) |
    @Html.ActionLink("Back to List", "Index")
</p>
