 
<div class="table-responsive">
    <table class="table table-striped jambo_table bulk_action">
        <thead>
            <tr class="headings text-center">
                <th class="column-title" style="display: table-cell;"></th>
                <th class="column-title" style="display: table-cell;"><a class="btn btn-app">Enero</a></th>
                <th class="column-title" style="display: table-cell;"><a class="btn btn-app">Febrero</a></th>
                <th class="column-title" style="display: table-cell;"><a class="btn btn-app">Marzo</a></th>
                <th class="column-title" style="display: table-cell;"><a class="btn btn-app">Abril</a></th>
                <th class="column-title" style="display: table-cell;"><a class="btn btn-app">Mayo</a></th>
                <th class="column-title" style="display: table-cell;"><a class="btn btn-app">Junio</a></th>
                <th class="column-title" style="display: table-cell;"><a class="btn btn-app">Julio</a></th>
                <th class="column-title" style="display: table-cell;"><a class="btn btn-app">Agosto</a></th>
                <th class="column-title" style="display: table-cell;"><a class="btn btn-app">Septiembre</a></th>
                <th class="column-title" style="display: table-cell;"><a class="btn btn-app">Octubre</a></th>
                <th class="column-title" style="display: table-cell;"><a class="btn btn-app">Noviembre</a></th>
                <th class="column-title" style="display: table-cell;"><a class="btn btn-app">Diciembre</a></th>
            </tr>
        </thead>
        <tbody>
            <tr class="even pointer" style="background-color:white;">
                <td class="a-center ">
                    <a class="btn btn-app">
                        Realizado
                    </a>
                </td>
                <td class="a-center "> 
                        <input type="text" class="form-control" /> 
                </td>
                <td class="a-center "> 
                        <input type="text" class="form-control" /> 
                </td>
                <td class="a-center "> 
                        <input type="text" class="form-control" /> 
                </td>
                <td class="a-center "> 
                        <input type="text" class="form-control" /> 
                </td>
                <td class="a-center "> 
                        <input type="text" class="form-control" /> 
                </td>
                <td class="a-center "> 
                        <input type="text" class="form-control" /> 
                </td>
                <td class="a-center "> 
                        <input type="text" class="form-control" /> 
                </td>
                <td class="a-center "> 
                        <input type="text" class="form-control" /> 
                </td>
                <td class="a-center "> 
                        <input type="text" class="form-control" /> 
                </td>
                <td class="a-center "> 
                        <input type="text" class="form-control" /> 
                </td>
                <td class="a-center "> 
                        <input type="text" class="form-control" /> 
                </td>
                <td class="a-center "> 
                        <input type="text" class="form-control" /> 
                </td>
            </tr>
            <tr class="even pointer" style="background-color:white;">
                <td class="a-center ">
                    <a class="btn btn-app">
                        Programado
                    </a>
                </td>
                <td class="a-center ">
                    <input type="text" class="form-control" />
                </td>
                <td class="a-center ">
                    <input type="text" class="form-control" />
                </td>
                <td class="a-center ">
                    <input type="text" class="form-control" />
                </td>
                <td class="a-center ">
                    <input type="text" class="form-control" />
                </td>
                <td class="a-center ">
                    <input type="text" class="form-control" />
                </td>
                <td class="a-center ">
                    <input type="text" class="form-control" />
                </td>
                <td class="a-center ">
                    <input type="text" class="form-control" />
                </td>
                <td class="a-center ">
                    <input type="text" class="form-control" />
                </td>
                <td class="a-center ">
                    <input type="text" class="form-control" />
                </td>
                <td class="a-center ">
                    <input type="text" class="form-control" />
                </td>
                <td class="a-center ">
                    <input type="text" class="form-control" />
                </td>
                <td class="a-center ">
                    <input type="text" class="form-control" />
                </td>
            </tr>
            <tr class="even pointer" style="background-color:white;">
                <td class="a-center ">
                    <a class="btn btn-app">
                        Acumulado
                        Realizado
                    </a>
                </td>
                <td class="a-center ">
                    <input type="text" class="form-control" />
                </td>
                <td class="a-center ">
                    <input type="text" class="form-control" />
                </td>
                <td class="a-center ">
                    <input type="text" class="form-control" />
                </td>
                <td class="a-center ">
                    <input type="text" class="form-control" />
                </td>
                <td class="a-center ">
                    <input type="text" class="form-control" />
                </td>
                <td class="a-center ">
                    <input type="text" class="form-control" />
                </td>
                <td class="a-center ">
                    <input type="text" class="form-control" />
                </td>
                <td class="a-center ">
                    <input type="text" class="form-control" />
                </td>
                <td class="a-center ">
                    <input type="text" class="form-control" />
                </td>
                <td class="a-center ">
                    <input type="text" class="form-control" />
                </td>
                <td class="a-center ">
                    <input type="text" class="form-control" />
                </td>
                <td class="a-center ">
                    <input type="text" class="form-control" />
                </td>
            </tr>
            <tr class="even pointer" style="background-color:white;">
                <td class="a-center ">
                    <a class="btn btn-app">
                        Acumulado
                        Programado
                    </a>
                </td>
                <td class="a-center ">
                    <input type="text" class="form-control" />
                </td>
                <td class="a-center ">
                    <input type="text" class="form-control" />
                </td>
                <td class="a-center ">
                    <input type="text" class="form-control" />
                </td>
                <td class="a-center ">
                    <input type="text" class="form-control" />
                </td>
                <td class="a-center ">
                    <input type="text" class="form-control" />
                </td>
                <td class="a-center ">
                    <input type="text" class="form-control" />
                </td>
                <td class="a-center ">
                    <input type="text" class="form-control" />
                </td>
                <td class="a-center ">
                    <input type="text" class="form-control" />
                </td>
                <td class="a-center ">
                    <input type="text" class="form-control" />
                </td>
                <td class="a-center ">
                    <input type="text" class="form-control" />
                </td>
                <td class="a-center ">
                    <input type="text" class="form-control" />
                </td>
                <td class="a-center ">
                    <input type="text" class="form-control" />
                </td>
            </tr>
            <tr class="even pointer" style="background-color:white;">
                <td class="a-center ">
                    <a class="btn btn-app">
                        Avance del mes
                    </a>
                </td>
                <td class="a-center ">
                    <input type="text" class="form-control" />
                </td>
                <td class="a-center ">
                    <input type="text" class="form-control" />
                </td>
                <td class="a-center ">
                    <input type="text" class="form-control" />
                </td>
                <td class="a-center ">
                    <input type="text" class="form-control" />
                </td>
                <td class="a-center ">
                    <input type="text" class="form-control" />
                </td>
                <td class="a-center ">
                    <input type="text" class="form-control" />
                </td>
                <td class="a-center ">
                    <input type="text" class="form-control" />
                </td>
                <td class="a-center ">
                    <input type="text" class="form-control" />
                </td>
                <td class="a-center ">
                    <input type="text" class="form-control" />
                </td>
                <td class="a-center ">
                    <input type="text" class="form-control" />
                </td>
                <td class="a-center ">
                    <input type="text" class="form-control" />
                </td>
                <td class="a-center ">
                    <input type="text" class="form-control" />
                </td>
            </tr>
            <tr class="even pointer" style="background-color:white;">
                <td class="a-center ">
                    <a class="btn btn-app">
                        Avance al mes
                    </a>
                </td>
                <td class="a-center "> 
                        <input type="text" class="form-control" /> 
                </td>
                <td class="a-center "> 
                        <input type="text" class="form-control" /> 
                </td>
                <td class="a-center "> 
                        <input type="text" class="form-control" /> 
                </td>
                <td class="a-center "> 
                        <input type="text" class="form-control" /> 
                </td>
                <td class="a-center "> 
                        <input type="text" class="form-control" /> 
                </td>
                <td class="a-center "> 
                        <input type="text" class="form-control" /> 
                </td>
                <td class="a-center "> 
                        <input type="text" class="form-control" /> 
                </td>
                <td class="a-center "> 
                        <input type="text" class="form-control" /> 
                </td>
                <td class="a-center "> 
                        <input type="text" class="form-control" /> 
                </td>
                <td class="a-center "> 
                        <input type="text" class="form-control" /> 
                </td>
                <td class="a-center "> 
                        <input type="text" class="form-control" /> 
                </td>
                <td class="a-center "> 
                        <input type="text" class="form-control" /> 
                </td>
            </tr>
            <tr class="even pointer" style="background-color:white;">
                <td class="a-center ">
                    <a class="btn btn-app">
                        Avance al año
                    </a>
                </td>
                <td class="a-center "> 
                        <input type="text" class="form-control" /> 
                </td>
                <td class="a-center "> 
                        <input type="text" class="form-control" /> 
                </td>
                <td class="a-center "> 
                        <input type="text" class="form-control" /> 
                </td>
                <td class="a-center "> 
                        <input type="text" class="form-control" /> 
                </td>
                <td class="a-center "> 
                        <input type="text" class="form-control" /> 
                </td>
                <td class="a-center "> 
                        <input type="text" class="form-control" /> 
                </td>
                <td class="a-center "> 
                        <input type="text" class="form-control" /> 
                </td>
                <td class="a-center "> 
                        <input type="text" class="form-control" /> 
                </td>
                <td class="a-center "> 
                        <input type="text" class="form-control" /> 
                </td>
                <td class="a-center "> 
                        <input type="text" class="form-control" /> 
                </td>
                <td class="a-center "> 
                        <input type="text" class="form-control" /> 
                </td>
                <td class="a-center "> 
                        <input type="text" class="form-control" /> 
                </td>
            </tr>
            <tr class="even pointer" style="background-color:white;">
                <td class="a-center ">
                    <a class="btn btn-app">
                        Semaforización al mes
                    </a>
                </td>
                <td class="a-center ">
                    <input type="text" class="form-control" />
                </td>
                <td class="a-center ">
                    <input type="text" class="form-control" />
                </td>
                <td class="a-center ">
                    <input type="text" class="form-control" />
                </td>
                <td class="a-center ">
                    <input type="text" class="form-control" />
                </td>
                <td class="a-center ">
                    <input type="text" class="form-control" />
                </td>
                <td class="a-center ">
                    <input type="text" class="form-control" />
                </td>
                <td class="a-center ">
                    <input type="text" class="form-control" />
                </td>
                <td class="a-center ">
                    <input type="text" class="form-control" />
                </td>
                <td class="a-center ">
                    <input type="text" class="form-control" />
                </td>
                <td class="a-center ">
                    <input type="text" class="form-control" />
                </td>
                <td class="a-center ">
                    <input type="text" class="form-control" />
                </td>
                <td class="a-center ">
                    <input type="text" class="form-control" />
                </td>
            </tr>
        </tbody>
    </table>
</div> 

<style>
    .btn.btn-app 
    {
        position: relative; 
        min-width: 80px;
        -webkit-box-shadow: none;
        box-shadow: none;
        text-align: center;
        color: #666;
        font-size: 12px;
    }
    .form-control 
    {
        font-size:10px;
        border-radius:10px;
    }
    
</style>